name: Publish Production Docker Image

on:
  push:
    branches:
      - main
      - 'release/**'

jobs:
  build:
    runs-on: ubuntu-22.04
    name: Push Docker image to Docker Hub
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Automated Version Bump
        id: version-bump
        uses: phips28/gh-action-bump-version@39d361ef0720e31299059657e22093f5c2b7ea17
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          patch-wording: 'patch,fixes'
          default: patch

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@main

      - name: Output Step
        env:
          NEW_TAG: ${{ steps.package-version.outputs.current-version }}
        run: echo "new tag $NEW_TAG"

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          target: production
          tags: openmazeorg/redactieportaal-processarticleservice:latest, openmazeorg/redactieportaal-processarticleservice:${{ steps.package-version.outputs.current-version}}
